singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=19.04.1'

process {
        containerOptions = '-B /lab,/localscratch,/home'
        email = "vivekrai@wolverine.theparkerlab.org"
        executor = 'slurm'
        // executor.jobName = { "rna_$task.name_$task.hash" }
        time = '3h'
        memory = '4 GB'
        cpus = 1
        // validExitStatus = [0, 141]
        clusterOptions = '--qos=priority --constraint=wolverine'
}

//
// set paths for generic files here
//
params {
  full_vcf = "/lab/work/vivekrai/2021-06_pilot-rfx6/data/imputation/all-chr.recode.sorted.vcf"
  selected_regions = "/lab/work/vivekrai/2021-06_pilot-rfx6/data/reference/gencode.v19.basic_transcripts_blacklist_removed.bed"

  general_container =  "/home/vivekrai/analyses/2021-06_pilot-rfx6/src/containers/general.sif"
  demuxlet_container = "/home/vivekrai/analyses/2021-06_pilot-rfx6/src/containers/demuxlet1.sif"

  pruned_bam_dir = "/lab/work/vivekrai/2021-06_pilot-rfx6/work/rnaseq/prune"
  qc_dir = "/lab/work/vivekrai/2021-06_pilot-rfx6/work/rnaseq/qc"

  umi_threshold = 500
  mitochondrial_threshold = 0.5
}

report {
    enabled = true
}

trace {
    enabled = true
}

// dag {
//     enabled = true
// }

