//
// Setup standard pipeline parameters
//

singularity.autoMounts = true
singularity.runOptions = "-B /lab,/localscratch"

process {
    executor = 'slurm'
    clusterOptions = "--constraint wolverine"
    cpus = 1
    time = 4.h
    errorStrategy = 'ignore'
    // maxRetries = 3
    // errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'ignore' }
    exitReadTimeout = '500 sec'
}


//
// Change parameters here
//

params {
    seed = 12345
    hg19_fasta = "/lab/data/reference/human/hg19/hg19.fa"
    hg19_sizes = "/lab/data/reference/human/hg19/annot/hg19.chrom.sizes"
    motif_db = [
      "/lab/work/vivekrai/data/motifs/meme_motif_dbs/CIS-BP_2.00/Homo_sapiens.meme",
      "/lab/data/motifs/pwm/LOCAL/meme/pdx1_meme1.meme",
      "/lab/data/motifs/pwm/LOCAL/meme/rfx6_dreme1.meme",
      "/lab/data/motifs/pwm/LOCAL/meme/rfx6_dreme9.meme",
      "/lab/data/motifs/pwm/LOCAL/meme/rfx6_meme1.meme",
      "/lab/data/motifs/pwm/JASPAR2014/logos/jaspar.meme",
      "/lab/data/motifs/pwm/ENCODE2013/logos/encode.meme",
      "/lab/data/motifs/pwm/JOLMA2013/logos/jolma.meme",
      "/lab/work/vivekrai/data/motifs/meme_motif_dbs/JOLMA2015/jolma15.meme"
      ]
    blacklist = "/home/vivekrai/data/reference/human/hg19/annot/hg19_blacklist_v2.bed.gz"
    extend_bp = [20, 50, 100]
}

trace {
  enabled = true
  overwrite = true
}
