singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=19.04.1'


process {
	containerOptions = '-B /lab,/localscratch'
	executor = 'slurm'
	time = '3h'
	memory = '4 GB'
	cpus = 1
	validExitStatus = [0, 141]
	withName: demuxlet_batch {
	    container = "/lab/work/arushiv/muscle-sn/data/containers/demuxlet1.sif"
	}
	withName: demuxlet_full {
	    container = "/lab/work/arushiv/muscle-sn/data/containers/demuxlet1.sif"
	}

	clusterOptions = '--qos=priority'
}

//
// set paths for generic files here
//
params.results = "results"
params.full_vcf = "/lab/work/arushiv/muscle-sn/data/vcfs/FUSION.genotypes-rsid-all-chr.vcf.gz"
params.selected_regions = "/lab/work/arushiv/muscle-sn/data/vcfs/bed_files_to_subset/gencode.v19.basic_transcripts_blacklist_removed.bed"
