singularity.enabled = true
singularity.runOptions = "-B /lab,/localscratch"
singularity.autoMounts = true
nextflowVersion = '>=19.04.1'

process {
  executor = 'slurm'
  errorStrategy = 'ignore'
  clusterOptions = "--constraint=wolverine --priority=qos"
  // maxRetries = 1
  // containerOptions = '-B /lab,/localscratch'
}

//
// set paths for generic files here
//
params["barcode-whitelist"] = "/home/vivekrai/analyses/2021-06_pilot-rfx6/src/snRNAseq-NextFlow/737K-arc-v1.txt"

params.star_index = [
  "hg19-mCherry-mKate2": "/lab/work/vivekrai/2021-06_pilot-rfx6/data/reference/star",
  "hg19": "/lab/work/porchard/sn-muscle-project/data/star/hg19",
  "rn6": "/lab/work/porchard/sn-muscle-project/data/star/rn6"
]
