//
// There should be no need to change this
//

singularity.autoMounts = true
singularity.runOptions = "-B /lab,/localscratch,/home"
nextflowVersion = '>=19.04.1'

process {
  executor = 'slurm'
  errorStrategy = 'ignore'
  // maxRetries = 1
  clusterOptions = "--constraint=wolverine --priority=qos"
  // containerOptions = '-B /lab,/localscratch,/home'
}

//
// Filter out nuclei with low read counts before running ataqv (to reduce memory usage). Low read count threshold is set here.
//
params.low_read_count_threshold = '2000'

//
// Below are the key file names you'll need to change
//

params {
  blacklist = [
    "hg19-mCherry-mKate2": ["/lab/work/vivekrai/data/reference/human/hg19/annot/hg19_blacklist_v2.bed.gz"],
    "hg19": ["/lab/work/vivekrai/data/reference/human/hg19/annot/hg19_blacklist_v2.bed.gz"],
    //"hg19": ["/lab/data/reference/human/hg19/annot/wgEncodeDacMapabilityConsensusExcludable.bed.gz", "/lab/data/reference/human/hg19/annot/wgEncodeDukeMapabilityRegionsExcludable.bed.gz"],
    "mm9": ["/lab/data/reference/mouse/mm9/annot/mm9-blacklist.bed.gz"],
    "rn6": ["/lab/work/porchard/data/mappability.new/rn6.blacklist.1.bed.gz"]
  ]
  chrom_sizes = [
    "hg19-mCherry-mKate2": "/lab/work/vivekrai/2020-01_vanderbilt_rna/data/hg19_custom_ref/build/hg19-mCherry-mKate2.sizes",
    "hg19": "/lab/data/reference/human/hg19/hg19.chrom_sizes",
    "rn6": "/lab/work/porchard/data/chrom_sizes/rn6.chrom_sizes"
  ]
  bwa_index = [
    "hg19-mCherry-mKate2": "/lab/work/vivekrai/2021-06_pilot-rfx6/data/reference/bwa/hg19-mCherry-mKate2",
    "hg19": "/lab/data/reference/human/hg19/index/bwa/current/hg19",
    "rn6": "/lab/work/porchard/data/bwa/rn6/rn6"
  ]
  tss = [
    "hg19-mCherry-mKate2": "/lab/work/vivekrai/2021-06_pilot-rfx6/data/reference/hg19.tss.refseq.bed.gz",
    "hg19": "/home/porchard/github/ataqv/data/tss/hg19.tss.refseq.bed.gz",
    "rn6": "/home/porchard/github/ataqv/data/tss/rn6.tss.refseq.bed.gz"
  ]
  gene_bed = [
    "hg19-mCherry-mKate2": "/lab/work/vivekrai/2021-06_pilot-rfx6/data/reference/hg19-mCherry-mKate2-features.gtf",
    "hg19": "/lab/work/porchard/data/liger-features/hg19-features.bed",
    "rn6": "/lab/work/porchard/data/liger-features/rn6-features.bed"
  ]
}

params['barcode-whitelist'] = "/home/vivekrai/analyses/2021-06_pilot-rfx6/src/snATACseq-NextFlow/737K-arc-v1.txt"
params['ataqv_autosomal_reference'] = "/lab/work/vivekrai/2021-06_pilot-rfx6/data/reference/ataqv-autosomal-ref.txt"

trace {
  enabled = true
  overwrite = true
}

report {
  enabled = true
  overwrite = true
}

notification {
  enabled = true
  to = "vivekrai@umich.edu"
}
